body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.post {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

button {
  background-color: #549abb;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.post h3 {
  margin-bottom: 5px;
}

.post p {
  margin-bottom: 10px;
}

.post button {
  align-self: flex-end;
}
